$white: #fff;
$gray: #5C5858;

$base-background-color: #36373b;
$base-background-active-color: #eee;
$base-font-light-color: #fff;
$base-font-dark-color: #0c090a;
$base-font-active-color: #20a0ff;
$base-border-color: #e5e4e2;
$base-arrow-color: #c8c8cd;